docs/mascaraai-n8n-template.json
{
  "name": "MascaraAI - Fluxo de Higienização e Restauração",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prontuario-receber",
        "options": {}
      },
      "id": "e9a8f278-f7b5-4b08-8df0-7bc631853a47",
      "name": "Webhook (Entrada)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mascaraai.com/api/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "sua_chave_api_mascaraai"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"texto\": \"{{ $json.body.texto || $json.body.text }}\"\n}",
        "options": {}
      },
      "id": "63a8e9d9-2e1d-402e-bb97-28d84451000f",
      "name": "MascaraAI Scan (RAM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mascaraai.com/api/restore",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "sua_chave_api_mascaraai"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"safe_text\": \"{{ $json.body.texto_processado_pela_ia }}\",\n  \"restore_map\": {{ JSON.stringify($node[\"MascaraAI Scan (RAM)\"].json.restore_map) }}\n}",
        "options": {}
      },
      "id": "8b9a2e3a-7d4e-4fbc-b40b-48c909ee1102",
      "name": "MascaraAI Restore (RAM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Conecte sua IA/LLM aqui!\nInsira o nó da sua IA preferida (OpenAI, Gemini, Llama, etc.) entre o **Scan** e o **Restore**.\n\n- **Entrada da IA:** use o campo `{{ $json.safe_text }}` vindo do Scan.\n- **Saída da IA para o Restore:** envie a resposta da IA no corpo substituindo a chave `texto_processado_pela_ia` do nó de Restore."
      },
      "id": "c1a2b3c4-d5e6-4f7g-8h9i-0j1k2l3m4n5o",
      "name": "Instruções de Integração",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        180
      ]
    }
  ],
  "connections": {
    "Webhook (Entrada)": {
      "main": [
        [
          {
            "node": "MascaraAI Scan (RAM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MascaraAI Scan (RAM)": {
      "main": [
        [
          {
            "node": "MascaraAI Restore (RAM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
